@import "../../styles/index";

.my-purchases {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 24px;

  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }

  @include mobile {
    &__item {
      width: 100%;
    }
  }
  @include tablet {
    &__item {
      width: calc((100% / 2) - 12px);
    }
  }
  @include desktop {
    &__item {
      width: calc((100% / 3) - 12px);
    }
  }
  @include wide-desktop {
    &__item {
      width: calc((100% / 4) - 12px);
    }
  }
}