@import "../../styles/index";

.today-pick {
  //min-height: 100vh;

  &__sort {
    display: flex;
    flex-wrap: wrap;

    &-item {
      .btn-container:hover {
        border-color: $blue;
        background-color: transparent;
        color: $white-color;
      }

      &:not(:first-child) {
        margin-left: 12px;
      }
    }
  }

  &__items-container {
    margin-top: 36px;
    display: inline-flex;
    gap: 12px;
    flex-wrap: wrap;
    width: 100%;

    .item {
      width: calc(100% / 3 - 12px);
    }

    .empty-result__container {
      padding: 0;
      width: 100%;

      .text {
        @include font-size($fz-lg, $fz-xl);
      }
    }

    @include mobile {
      .item {
        width: 100%;
      }
    }
    @include tablet {
      .item {
        width: calc(100% / 2 - 12px);
      }
    }
    @include wide-desktop {
      .item {
        width: calc(100% / 4 - 12px);
      }
    }
  }

  &__load-more__btn {
    margin-top: 24px;
    @include flexBox(row, center, center);
  }

  @include mobile {
    &__sort {
      &-item {
        &:nth-child(3) {
          margin-left: 0;
        }

        &:nth-child(3), &:nth-child(4) {
          margin-top: 12px;
        }
      }
    }
  }
}