$bg-section: #14141F;
$bg-section-dark: #0D0D11;
$primary-color: #343444;
$white-color: #fff;
$light-grey-color: #EBEBEB;
$dark-grey-color: #7A798A;
$blue: #5142FC;
$orange: #FFBD0C;

$gradient-color: linear-gradient(-45deg, #E250E5, #4B50E6, #E250E5, #4B50E6);
$box-shadow: 0 0 5px rgba(47, 83, 109, 12%);

$primary-border: 2px solid $blue;
$secondary-border: 2px solid $light-grey-color;

$fz-heading-h1: 56px;
$fz-heading-h2: 36px;
$fz-xxs: 12px;
$fz-xs: 13px;
$fz-sm: 14px;
$fz-md: 16px;
$fz-lg: 20px;
$fz-xl: 22px;
$fz-xxl: 24px;

$transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);