@import "src/frontend/styles/index";

.btn-container {
  outline: none;
  border: $secondary-border;
  min-width: 50px;
  height: 50px;
  border-radius: 50px;
  background: transparent none repeat scroll 0 0;
  color: $white-color;
  font-weight: 600;
  @include flexBox(row, center, center);
  transition: $transition;
  @include font-size($fz-xs, $fz-sm);

  svg {
    @include font-size($fz-md, $fz-xl);
    color: $white-color;
  }

  &:hover {
    color: #000000;
    background-color: $white-color;
  }

  &.btn-space {
    padding: 15px 20px;

    svg {
      margin-right: 12px;
    }
  }

  &.primary-btn {
    border: $primary-border;

    &:hover {
      background-color: $white-color;
      border-color: $white-color;
      color: $blue;

      svg {
        color: $blue;
      }
    }
  }

  &:disabled {
    border-color: $dark-grey-color;
    color: $dark-grey-color;

    svg {
      color: $dark-grey-color;
    }

    &:hover {
      color: $dark-grey-color;
      background-color: unset;
      border-color: unset;

      svg {
        color: unset;
      }
    }
  }
}